.button {
  border: none;
  color: white;
  padding: 5px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;


  &.success {
    background: rgb(28, 184, 65);
  }

  &.danger {
    background: rgb(202, 60, 60);
  }

  &.warning {
    background: rgb(223, 117, 20);
  }

  &.info {
    background: rgb(66, 184, 221);
  }

  &.small {
    font-size: 85%;
  }

  &.xsmall {
    font-size: 70%;
  }

  &.large {
    font-size: 110%;
  }

  &.xlarge {
    font-size: 125%;
  }
}