<template>
  <div class="actives-filters">
    <div class="actives-filters-title">
      {{ 'filters.filters' | t }}:
    </div>
    <div class='filter badgeFilter'>
      <!-- <label for="badge">Currency</label> -->
      <select id="badge" v-model="badgeIndexSelected">
        <option value="-1">{{ 'filters.allCurrencies' | t}}</option>
        <option v-for="(badge, i) in badges" :key="`Badge${i}`" :value="i">
          {{ badge }}
        </option>
      </select>
    </div>
    <div class="filter familyFilter">
      <!-- <label for="family">Family</label> -->
      <select id="family" v-model="familyIndexSelected">
        <option value="-1">{{ 'filters.allFamilies' | t }}</option>
        <option v-for="(family, i) in families" :key="`Family${i}`" :value="i">
          {{ family }}
        </option>
      </select>
    </div>
  </div>  
</template>

<script>
export default {
  name: 'actives-filter',
  props: ['filtered', 'families', 'badges'],
  data () {
    return {
      badgeIndexSelected: -1,
      familyIndexSelected: -1,
      badgeSelected: null,
      familySelected: null
    }
  },

  watch: {
    badgeIndexSelected (index) {
      this.badgeSelected = this.badges[index] || null
      this.sendFilters()
    },

    familyIndexSelected (index) {
      this.familySelected = this.families[index] || null
      this.sendFilters()
    }
  },

  methods: {
    sendFilters () {
      this.$emit('update:filtered', this.badgeSelected || this.familySelected)
      this.$emit('filters', [this.badgeSelected, this.familySelected])
    }
  }
}
</script>

<style lang="scss">
.actives-filters {
  grid-template-areas:
    "filters-title badge family";
  
  grid-template-columns: 20px 1fr 1fr;

  select {
    width: 100%;
  }

  .actives-filters-title {
    grid-area: filters-title;
    background: #2ecc71;
    color: white;
    padding-top: 2px;
    font-weight: bold;
  }
  
  .badgeFilter {
    grid-area: badge;
  }

  .familyFilter {
    grid-area: family;
  }
}
</style>


