<template>
  <section id="actives-section">
    <div class="actives-header">
      <p>{{ 'generals.yourActives' | t }}</p>
    </div>
    <actives-filter 
      class="filters"
      :badges="badges" 
      :families="families"
      @filters="applyFilters"
      :filtered.sync="filtered"
      />
    <loader v-show="loading" />
    <div class="cards">
      <active-card 
        @clicked="goToDetails"
        v-for="(symb, i) in symbolsFiltered"
        :key="i"
        :name="symb.name"
        :risk_family="symb.risk_family"
        :id="symb.id"
        :isActivate="symb.id === $route.params.activeId"
        :currency="symb.currency" />
    </div>
    <div class="no-actives-info" v-if="!loading && symbols.length === 0">
      <p>{{ 'messages.noActives' | t }}</p>
    </div>
    <div class="no-actives-info" v-if="symbolsFiltered.length === 0 && filtered">
      <p>{{ 'messages.noActivesFiltered' | t }}</p>
    </div>
  </section>  
</template>

<script>
// import SymbolFixtures from '@/fixtures/symbols'
import ActiveCard from './ActiveCard'
import ActivesFilter from './ActivesFilter'
import Loader from './Loader'

export default {
  components: {
    ActiveCard,
    ActivesFilter,
    Loader
  },

  async mounted () {
    await this.loadData()
    // get distinct badges and familes
    const [badges, families] = this.getDistintFilterValues()

    this.badges = badges
    this.families = families

    this.loading = false
  },

  data () {
    return {
      badges: [],
      families: [],
      filtered: false,
      loading: true,
      symbols: [],
      symbolsFiltered: [],
    }
  },

  methods: {
    async loadData () {
      try {
        this.symbolsFiltered = this.symbols = await this.$dic.api.get('symbols')
      } catch (ex) {
        this.$dic.logger.error(ex)
      }
    },

    applyFilters ([badge, family]) {
      this.symbolsFiltered = this.symbols.filter(symbol => {
        return  (!badge || symbol.currency === badge) && 
                (!family || symbol.risk_family === family)
      })
    },

    getDistintFilterValues () {
      const [badges, families] = this.symbols.reduce(([b, f], c) => {
        b.add(c.currency)
        f.add(c.risk_family)
        return [b,f]
      }, [new Set(), new Set()])

      return [
        Array.from(badges),
        Array.from(families)
      ]
    },

    goToDetails (activeId) {
      this.$router.push({ name: 'details', params: { activeId } })
    }
  }
}
</script>

<style lang="scss">
  @import '../sass/_mixins';

  #actives-section {
    .cards {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: repeat(2, 1fr);
    }

    .filters {
      display: grid;
      grid-template-columns: 50px 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

    .actives-header {
      display: grid;
      height: 30px;
      color: white;
      text-align: center;
      background: #5dade2;

      p {
        margin: 0;
        padding: 0;
        margin-top: 5px;
      }
    }

    .no-actives-info {
      text-align: center;
    }
  }

  @include for-mobile-devices {
    #actives-section {
      .cards {
        grid-template-columns: repeat(2, 1fr);
      }

      .filters {
        grid-template-columns: 70px 1fr 1fr;
      }
    }
  }

  @include for-phone-only {
    #actives-section .cards {
      grid-template-columns: 1fr
    }
  }

</style>
