<template>
  <div class="card" :class="{ activate: isActivate }" @click="handler">
    <div class="card-title">{{ name | trimmerFilter(40) }}</div>
    <div class="card-body">
     <span class="card-currency">{{ currency }}</span>
     <div class="card-info">
          <span>📈</span>
          <span class="card-info-family">{{ risk_family }}</span>
          <span>💬</span>
          <span class="card-info-comments">{{ comments }}</span>
      </div>
    </div>
  </div>  
</template>

<script>
import TrimmerFilter from '@/filters/trimmer'

export default {
  name: 'active-card',
  props: ['id', 'name', 'currency', 'risk_family', 'isActivate'],

  filters: {
    'trimmerFilter': TrimmerFilter
  },

  mounted () {
    this.loadComments()

    this.$dic.bus.$on('updateComments', () => this.loadComments())
  },

  data () {
    return {
      comments: 0
    }
  },
  
  methods: {
    handler () {
      this.$emit('clicked', this.id)
    },

    loadComments () {
      this.comments = this.$dic.comments.getCount(this.id)
    }
  }
}
</script>

<style lang="scss">
  .card {
    // border: 1px solid red;
    cursor: pointer;
    // border-radius: 10px;
    background: #e9eaee;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);

    .card-title {
      color: #fff;
      background-color: #2196F3;
      font-size: 12px;
      padding: 5px;
    }

    .card-body {
      position: relative;
      padding: 10px;

      .card-currency {
        position: absolute;
        top: 2px;
        right: 0;
        color: white;
        padding: 5px;
        background: #a569bd;
      }

      .card-info {
        font-size: 12px;
      }
    }
  }

  .activate {
    border: 5px solid green;
  }
</style>

