<template>
  <div class="comment">
    <div class="comment-content">
      <div class="comment-body">
        <textarea v-model="comment.content" class="comment-area"></textarea>
      </div>
    </div>
    <div class="comment-actions">
      <div class="date">{{ comment.date | dateFormat }}</div>
      <div class="actions">
        <button
          class="success xsmall button"
          @click="updateComment">
          {{ 'generals.update' | t }}
        </button>
        <button 
          class="danger xsmall button"
          @click="deleteComment">
          {{ 'generals.delete' | t }}
        </button>
      </div>
    </div>
  </div>  
</template>

<script>
import dateFormatFilter from '@/filters/dateFormat'

export default {
  props: ['activeId', 'comment'],

  filters: {
    'dateFormat': dateFormatFilter
  },

  data () {
    return {
      // commentId: this.comment.id,
      // commentText: this.comment.content
    }
  },

  methods: {
    deleteComment () {
      this.$dic.comments.deleteComment(this.activeId, this.comment.id)
      this.$emit('commentDeleted')
    },

    updateComment () {
      this.$dic.comments.modifyComment(this.activeId, this.comment.id, this.comment.content)
      this.$emit('commentUpdated')
    }
  }
}
</script>

<style lang="scss">
  @import '../sass/_mixins';

  @include for-mobile-devices {
    .comment {
      grid-template-columns: auto 155px;
    }
  }

  .comment {
    border-left: #2196F3 solid 5px;
    background: #fff;
    display: grid;
    grid-template-columns: auto 150px;

    .comment-actions {
      position: relative;
      .date {
        position: absolute;
        top: 0;
        right: 5px;
        font-size: 10px;
      }
      .actions {
        display: inline;
        position: absolute;
        bottom: 0;
        right: 5px;
      }
    }
  }
</style>


