<template>
  <transition id="comments-transition" name="fade">
    <div class="comments">
      <span class="comments-back">
        <button @click="goBack">⬅ {{ 'generals.goBack' | t }}</button>
      </span>
      <div class="comments-header">
        <p>{{ 'symbols.comments' | t }}</p>
      </div>
      <div class="comments-actions">
        <button class="goBackButton" @click="$router.go(-1)">⬅ Atras</button>
        <message :content="message" />
        <!-- <span>
          <button @click="creatingMode = true">Nuevo comentario</button>
        </span> -->
        <create-comment
          @commentCreated="commentCreated"
          :activeId="$route.params.activeId" 
          v-show="creatingMode" />
      </div>
      <div class="comments-container">
        <p>{{ 'comments.help' | t }}</p>
        <template v-if="comments.length > 0">
          <Comment 
            v-for="(comment, i) in comments" 
            :key="`Comment${i}`"
            :comment="comment"
            @commentDeleted="commentDeleted"
            @commentUpdated="commentUpdated"
            v-if="!comment.destroy"
            :activeId="$route.params.activeId" />
        </template>
        <template v-else>
          {{ 'comments.noComments' | t }}
        </template>
      </div>
      <div class="anchor"></div>
    </div>
  </transition>
</template>

<script>
import CommentFixtures from '@/fixtures/comments'
import Comment from './Comment'
import CreateComment from './CreateComment'
import Message from './Message'

export default {
  name: 'comments',

  components: {
    Comment,
    CreateComment,
    Message
  },

  mounted () {
    this.updateComments()
  },
  
  data () {
    return {
      creatingMode: true,
      comments: [],
      message: ''
    }
  },

  methods: {
    commentCreated () {
      this.updateComments()
      this.message = this.$t('comments.commentCreated')
    },

    commentDeleted () {
      this.updateComments()
      this.message = this.$t('comments.commentDeleted')
    },

    commentUpdated () {
      this.message = this.$t('comments.commentUpdated')
    },

    updateComments () {
      this.comments = this.$dic.comments.getAll(this.$route.params.activeId).reverse()
      this.$dic.bus.$emit('updateComments', this.$route.params.activeId)
    },

    goBack () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="scss">
  @import '../sass/_mixins.scss';
  @import '../sass/buttons';

  .comments-back {
    display: none;
  }

  .anchor {
    display: none;
    padding: 10px;
  }

  .comments {
    display: grid;
    grid-template-rows: 35px 200px auto;
    grid-row-gap: 10px;

    .comments-actions {
      // display: grid;
      // grid-template-rows: repeat(3, 30px)
    }

    .comments-header {
      height: 30px;
      color: white;
      text-align: center;
      background: #52be80;

      p {
        padding: 0;
        margin: 5px;
      }
    }

    .comments-container {
      display: grid;
      grid-row-gap: 10px;
      grid-auto-rows: 50px;
    }
  }

  .comment-area {
    width: 100%;
    min-height: 45px;
    resize: none;
    overflow: auto;
    display: block;
    border: none;
    margin: 0;
    padding: 0;
  }

  @include for-mobile-devices {
    .goBackButton {
      display: none;
    }

    .comments {
      .comments-back {
        font-weight: bold;
        font-size: 20px;
        display: block;
        position: absolute;
        top: 28px;
        left: 0;
      }

      .anchor {
        display: block;
      }

      .comments-container {
        grid-auto-rows: 85px;
      }

      display: grid;
      grid-template-rows: 35px 145px auto;
      grid-row-gap: 10px;
    }
  }
</style>


