<template>
  <div class="comment-creator">
    <errors :messages="errors" />
    <h3>{{ 'comments.create' | t }}</h3>
    <textarea :placeholder="'generals.typeHere' | t" v-model="comment" autofocus class="comment-area"></textarea> 
    <button class="create button info" @click="create">
      {{ 'generals.create' | t }}
    </button>
  </div>   
</template>

<script>
import Errors from './Errors'

export default {
  name: 'create-comment',
  props: ['activeId'],

  components: {
    Errors
  },

  data () {
    return {
      comment: '',
      errors: []
    }
  },

  methods: {
    create () {
      this.clearErrors()
      if (this.comment !== '') {
        this.$dic.comments.saveComment(this.activeId, this.comment)
        this.comment = ''
        this.$emit('commentCreated')
      } else {
        this.errors.push('tienes que escribir algo')
      }
    },

    clearErrors () {
      this.errors = []
    }
  }
}
</script>

<style lang="scss">
.create {
  width: 100%;
  margin-top: 5px;
}

.comment-creator {
  .comment-area {
    border: 1px solid black;
  }
}
</style>


