<template>
  <div 
    :style="{color: data.color}"
    class="currency" 
    :data-id="data.id">

    <span>{{ data.name }}</span>
    <span>( {{ data.symbol }} )</span>
  </div>  
</template>

<script>
import CurrencyFixtures from '@/fixtures/currency'

export default {
  props: ['data'],
  name: 'currency',
  mounted ()  {

  }, 

  data () {
    return {
      // currency: CurrencyFixtures
    }
  }
}
</script>

<style lang="scss">

</style>


