<template>
  <section id="details">
    <loader v-show="loading" :message="'generals.loadingActive' | t" />
    <span class="close">
      <router-link to="/">❌</router-link>
    </span>
    <!-- <p>Details for {{ $route.params.id }}</p> -->
    <div v-if="symbol">
      <div>
        <h2>{{ symbol.name }}</h2>
        <hr />
        <fund :data="symbol"/>
      </div>
      <div class="info">
        <div class="info-col">
          <div>
            <h3>{{ 'symbols.issuer' | t }}</h3>
            <span>{{ symbol.issuer.name }}</span>
          </div>
          <div>
            <h3>{{ 'symbols.riskFamily' | t }}</h3>
            <level :data="symbol.risk_family"/>
          </div>
        </div>
        <div class="info-col">
          <div>
            <h3>{{ 'symbols.region' | t }}</h3>
            <level :data="symbol.region"/>
          </div>
          <div>
            <h3>{{ 'symbols.sector' | t }}</h3>
            <level :data="symbol.sector"/>
          </div>
        </div>
        <div class="info-col">
          <div>
            <h3>{{ 'symbols.isHedged' | t }}</h3>
            <span>{{ symbol.is_hedged | boolean | t }}</span>
          </div>
        </div>
        <div class="info-col col-comments">
          <router-link class="button success" :to="{name: 'comments', params: { activeId: $route.params.activeId }}">
            {{ 'comments.showComments' | t }} 
          </router-link>
        </div>
      </div>
      <div class="chart-info">
        <time-price-chart
          :data="symbol.prices"
          :currency="symbol.currency.symbol"
          :title="'chart.title' | t"/>
      </div>
      <div class="copy">Test by Pablo Fernandez Franco</div>
    </div>
  </section>  
</template>

<script>
import SymbolFixtures from '@/fixtures/symbol'
import Level from './Level'
import Currency from './Currency'
import Fund from './Fund'
import TimePriceChart from './TimePriceChart'
import BooleanFilter from '@/filters/boolean'
import Loader from '@/components/Loader'

export default {
  filters: {
    'boolean': BooleanFilter
  },

  async mounted () {
    await this.loadData()
    this.loading = false
  },

  components: {
    Level,
    Currency,
    Fund,
    TimePriceChart,
    Loader
  },

  data () {
    return {
      symbol: null,
      loading: true
    }
  },

  methods: {
    async loadData () {
      try {
        this.symbol = await this.$dic.api.get(`symbols/${this.$route.params.activeId}`)
      } catch (ex) {
        this.$dic.logger.error(ex)
      }
    }
  }

}
</script>

<style lang="scss">
  @import '../sass/_mixins.scss';
  @import '../sass/buttons';

  #details {
    // background: #FBEBBF;
    display: grid;
    grid-template-rows: 100px;

    .close {
      display: none;
    }

    .info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 100px 50px; 
    }

    .chart-info {
      display: grid;
      grid-template-columns: 1fr;
    }

    .copy {
      text-align: center;
      display: none;
    }
  }

  @include for-mobile-devices {
    #details {
      .close {
        font-weight: bold;
        font-size: 20px;
        display: block;
        position: absolute;
        top: 5;
        right: 0;
        padding: 5px;
      }
    }
  }

  @include for-phone-only {
    #details {
      .info {
        text-align: center;
        grid-template-columns: 1fr; 
        justify-self: center;
        grid-template-rows: 100px 100px; 
      }

      .col-comments {
        margin-top: 10px;
      }

      .copy {
        display: block;
      }
    }
  }

  h3, h2 {
    padding: 0px;
    margin: 0;
    margin-top: 5px;
  }
</style>


