<template>
  <div class="errors">
    <ul>
      <li v-for="(m,i) in messages" :key="i">
        {{ m }}
      </li>
    </ul>
  </div> 
</template>

<script>
export default {
  name: 'errors',
  props: ['messages']  
}
</script>

<style lang="scss" scoped>
  .errors {
    color: red
  }
</style>

