<template>
  <div class="fund">
    <div class="body">
      <div class="fund-currency-header">
        <h3>{{ 'symbols.currency' | t }}</h3>
      </div>
      <div class="fund-isin-header">
        <h3>ISIN</h3>
      </div>
      <div>
       <currency :data="data.currency" /> 
      </div>
      <div>
        {{ data.isin }}
      </div>
    </div>
  </div> 
</template>

<script>
import FundFixtures from '@/fixtures/fund'
import Currency from '@/components/Currency'

export default {
  props: ['data'],
  components: {
    Currency
  },
 
  mounted() {

  },
  
  data () {
    return {
      // fund: FundFixtures
    }
  }
}
</script>

<style lang="scss">
@import '../sass/_mixins';

.fund {
  .body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3px;
    font-weight: bold;
    
    div {
      // border: 1px solid orange;
    }
  }
}

@include for-mobile-devices {
  .fund {
    .body {
      text-align: center;
    }
  }
}
</style>
