<template>
  <header>
    <p>Actives portal</p>
    <select class="langSelector" v-model="$i18n.locale">
      <option 
        v-for="(lang, i) in ['es', 'en']"
        :key="`Lang${i}`"
        :value="lang"
        :selected="lang === $i18n.locale">
        {{ `languages.${lang}` | t }}
      </option>
    </select>
  </header>
</template>

<script>
export default {
}
</script>

<style lang="scss">
@import '../sass/_mixins.scss';

.langSelector {
  position: absolute;
  right: 5px;
  top: 4px;
}

header {
  text-align: center;
}

@include for-phone-only {
  header {
    text-align: left;
  }
}

</style>


