<template>
  <div class="help">
    <p>{{ 'help' | t }}</p>
  </div>
</template>

<script>

</script>

<style lang="scss">
@import '../sass/_mixins';

.help {
  text-align: center;
}

@include for-mobile-devices {
  .help {
    display: none;
  }
}
</style>