<template>
  <div class="level">
    <span>{{ levels | levelize }}</span>
  </div>  
</template>

<script>
// import RegionsFixtures from '@/fixtures/regions'
import LevelizeFilter from '@/filters/levelize'

export default {
  name: 'level',
  props: ['data'],

  filters: {
    'levelize': LevelizeFilter
  },
  
  mounted () {
    let recur = (root, levels) => {
      for (let val of Object.values(root)) {
        if (typeof val === 'string') {
          levels.push(val)
        }
        // js caveats: typeof null === 'object' // true
        else if(val !== null && typeof val === 'object') {
          return recur (val, levels)
        }
      }

      return levels
    }

    this.levels = this.data ? recur(this.data, []) : ['N/D']
  },

  data () {
    return {
      // regions: RegionsFixtures,
      levels: []
    }
  }
}
</script>

<style lang="scss">
  .level {
    display: inline;
  }
</style>


