<template>
  <canvas class="chart">
  </canvas> 
</template>

<script>
// import PricesFixtures from '@/fixtures/prices'
import Chart from 'chart.js'
import Config from 'config'

export default {
  props: ['data', 'title', 'currency'],
  name: 'time-price-chart',
  mounted () {
		const [data, labels] = this.parseData(this.data)
    const cfg = {
			type: 'bar',
			data: {
				labels: labels,
				datasets: [{
					label: this.title,
					data: data,
					type: 'line',
					pointRadius: 0,
					fill: false,
					lineTension: 0,
					borderWidth: 2,
					borderColor: Config.chart.borderColor 
				}]
			},
			options: {
        responsive: true,
				scales: {
					xAxes: [{
            type: 'time',
            time: {
              unit: 'year',
						},
						distribution: 'series',
						ticks: {
							source: 'labels'
						}
					}],
					yAxes: [{
						scaleLabel: {
							display: true,
							labelString: `${this.$t('chart.closingPrices')} (${this.currency})`
						}
					}]
				}
			}
    };
    
    const chart = new Chart(this.$el, cfg)
  },

  data () {
    return {
      // prices: PricesFixtures
    }
	},
	
	methods: {
		// transform data into a chartjs model
		parseData (dataToParse) {
			const data = []
			const labels = new Set() 
			for (let { date, value } of dataToParse) {
				data.push({ t: date, y: value })
				labels.add(new Date(date).getFullYear().toString())
				// labels.add(new Date(date))
			}

			return [ data, Array.from(labels) ]
		}
	}
}
</script>

<style lang="scss">
	.chart {
		display: grid;
		grid-template-columns: 1fr;
		justify-self: stretch;

		width: 100% !important;
	}
</style>


