<template>
  <div id="app" class="container">
    <Header class="header" />
    <Actives :updateActive="activeToUpdate" class="actives" />

    <transition name="fade" mode="out-in">
      <!-- using key to stop reusing components -->
      <Help v-if="$route.fullPath === '/'" />
      <router-view :key="$route.fullPath" class="details open">
        {{ 'messages.noDetails' | t }}
      </router-view>
    </transition>
  </div>
</template>

<script>
import Header from '@/components/Header'
import Actives from '@/components/Actives'
import Help from '@/components/Help'

export default {
  components: {
    Header,
    Actives,
    Help
  },

  data () {
    return {
      activeToUpdate: null
    }
  },

  methods: {
  }
}
</script>

<style lang="scss">
@import '~normalize.css/normalize';
@import './sass/_mixins';

body {
  margin: 0;
  // Font trick explained here: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
  font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”,
    “Ubuntu”, “Cantarell”, “Fira Sans”,
    “Droid Sans”, “Helvetica Neue”, sans-serif;
}

a, a:visited {
  text-decoration: none;
}

.container {
  background: #E2F2FA;
  display: grid;
  grid-template-columns: (1fr / 2) 1fr;
  grid-template-rows: 35px 1fr;
  grid-column-gap: 5px;
  height: 100vh;
  grid-template-areas:
    "header header"
    "actives details";
}

.header {
  font-size: 18px;
  grid-area: header;
  background: #4C4C4C;
  color: #fff;
  justify-self: stretch;

  p {
    margin: 0;
    padding: 0;
    margin-top: 8px;
  }
}

.actives {
  grid-area: actives;
  justify-self: stretch;
  max-height: 100vh;
  overflow-y: auto;
  background: #f0b27a;
}

.details {
  max-height: 100vh;
  overflow-y: auto;
  grid-area: details;
  justify-self: stretch;
  background: rgb(241, 224, 177);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}


// media queries
@include for-mobile-devices {
  // details area will be a fullscreen layer
  .container {
    grid-template-areas:
      "header header"
      "actives actives";
  }

  .details {
    display: none;
    height: 100vh;
    left: 0;
    top: 35px;
    position: fixed;
    width: 100%;
  }

  .details.open {
    display: grid;
    grid-auto-rows: 100px;
    background: rgb(241, 224, 177);
  }

  .fade-enter, .fade-leave-to {
    transition: none;
  }

  .fade-enter, .fade-leave-to {
    opacity: 1;
  }

}


</style>

